<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE page SYSTEM 'xmlschemas/domino_8_5_3.dtd'>
<page name='BorderPa' xmlns='http://www.lotus.com/dxl' version='8.5' maintenanceversion='3.6'
 replicaid='C12580C0005F2E02' publicaccess='false' designerversion='8.5.3'
 language='en' comment='Inheride from MIS' bgcolor='#e1e1e1' noinitialfocus='true'
 nofocusonf6='true'>
<noteinfo noteid='43e' unid='D77EB0F7858642B30025720900265611' sequence='694'>
<created><datetime>20061016T065844,01+00</datetime></created>
<modified><datetime dst='true'>20210628T162006,15+02</datetime></modified>
<revised><datetime dst='true'>20210628T162006,14+02</datetime></revised>
<lastaccessed><datetime dst='true'>20210628T162006,14+02</datetime></lastaccessed>
<addedtofile><datetime>20170207T181953,07+01</datetime></addedtofile></noteinfo>
<updatedby><name>CN=Tobias Lanz/O=CARNET</name></updatedby>
<wassignedby><name>CN=Tobias Lanz/O=CARNET</name></wassignedby>
<body><richtext>
<pardef id='1'/>
<par def='1'><run><font size='8pt'/></run></par></richtext></body>
<item name='OriginalModTime'><datetime dst='true'>20061017T103743,68+02</datetime></item>
<item name='$$ScriptName' summary='false' sign='true'><text>BorderPa</text></item></page>

