<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE page SYSTEM 'xmlschemas/domino_8_5_3.dtd'>
<page name='LogoPa' xmlns='http://www.lotus.com/dxl' version='8.5' maintenanceversion='3.6'
 replicaid='C12580C0005F2E02' publicaccess='false' designerversion='8.5.3'
 comment='Inheride from MIS' renderpassthrough='true'>
<noteinfo noteid='382' unid='210F87D7ABE2B8CB002572090026E69C' sequence='695'>
<created><datetime>20061016T070454,04+00</datetime></created>
<modified><datetime dst='true'>20210628T162010,08+02</datetime></modified>
<revised><datetime dst='true'>20210628T162010,07+02</datetime></revised>
<lastaccessed><datetime dst='true'>20210628T162010,07+02</datetime></lastaccessed>
<addedtofile><datetime>20170207T181952,13+01</datetime></addedtofile></noteinfo>
<updatedby><name>CN=Tobias Lanz/O=CARNET</name></updatedby>
<wassignedby><name>CN=Tobias Lanz/O=CARNET</name></wassignedby>
<body><richtext>
<pardef id='1'/>
<par def='1'><run><font size='8pt'/></run></par>
<table widthtype='fitmargins' refwidth='9.3438in'><tablecolumn width='100%'/>
<tablerow>
<tablecell borderwidth='0px'>
<pardef id='3' align='center' keepwithnext='true' keeptogether='true'/>
<par def='3'><run><font size='8pt'/></run><picture width='142px' height='99px'><imageref
><code event='value'><formula>_IsArchive := @GetProfileField( "(ProfDokument)" ; "IsArchive" );

@If ( _IsArchive != "0" ; "archive_logo.jpg" ; "carnet_logo.jpg" )</formula></code></imageref></picture><run
><font size='8pt'/></run></par></tablecell></tablerow>
<tablerow>
<tablecell borderwidth='0px'>
<par def='3'><run><font size='8pt'/></run><run><font size='8pt' color='gray'/><computedtext
><code event='value'><formula>_IsArchive := @GetProfileField( "(ProfDokument)" ; "IsArchive" );

@If ( _IsArchive != "0" ; "Vertragsverwaltung Archiv" ; "Vertragsverwaltung" )</formula></code></computedtext></run><run
><font size='8pt'/></run></par></tablecell></tablerow></table>
<par def='1'><run><font size='8pt'/></run></par></richtext></body>
<item name='OriginalModTime'><datetime dst='true'>20061016T170345,59+02</datetime></item>
<item name='$$ScriptName' summary='false' sign='true'><text>LogoPa</text></item></page>

